<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583795295936-6i592rgi5padfcfe7gu42f1tts7jo7of.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583795295936-6i592rgi5padfcfe7gu42f1tts7jo7of</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>583795295936-vs455366no298feffjln12pmifca36er.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdlU4gKhoA30sYT4V956bnFZvmyZ85QMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>583795295936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youtube</string>
	<key>PROJECT_ID</key>
	<string>ftube-bd64a</string>
	<key>STORAGE_BUCKET</key>
	<string>ftube-bd64a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583795295936:ios:c1826c9d75a27a2ee50f25</string>
</dict>
</plist>