<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583795295936-r8kmfb1r2oagknbp2no8l3pklft7k2oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583795295936-r8kmfb1r2oagknbp2no8l3pklft7k2oi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>583795295936-ba2nr3qprmat9d6nt2e2ib5073126gfm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPbKt7DytYkw2LW1-VHHOFmYp13iFDKeI</string>
	<key>GCM_SENDER_ID</key>
	<string>583795295936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bdaynabday.ftube</string>
	<key>PROJECT_ID</key>
	<string>ftube-bd64a</string>
	<key>STORAGE_BUCKET</key>
	<string>ftube-bd64a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583795295936:ios:1469c750136c1a16e50f25</string>
</dict>
</plist>